RewriteEngine On
    RewriteBase /A_1017_PWEBPR-Contact-App-Manage/
    RewriteRule ^index\\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /A_1017_PWEBPR-Contact-App-Manage/index.php [L]


